<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="css/core.css">
</head>
<body>
	<h1><%= title %></h1>
	<img src="img/byrdannfox.jpg" alt="Byrdann Fox">
	<script type="text/javascript">
		// move this into its own file, and gulp pack it! =) 
		// var token;
		// function send(route, formData, cb) {
		// 	if (!(formData instanceof FormData)) {
		// 		cb = formData;
		// 		formData = new FormData();
		// 	}
		// 	var caller = new XMLHttpRequest();
		// 	caller.onload = function() {
		// 		cb(JSON.parse(this.responseText));
		// 	};
		// }
	</script>
</body>
</html>