<!-- todo: research PouchDB for client-side storage of my token and other data -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="css/core.css">
</head>
<body>
	<h1><%= title %></h1>
	<img src="img/byrdannfox.jpg" alt="Byrdann Fox">
</body>
</html>